.img-circle {
    border-radius: 100%;
    box-shadow: 0px 0px 25px 10px rgb(185, 185, 185);
}

.image { 
    position: relative; 
    width: 100%;
 }
 
 .heading { 
    position: absolute; 
    top: 500px; 
    text-align: center; 
    width: 100%; 
 }

 h1 span { 
    color: white; 
    font: bold 55px/45px cursive;
    letter-spacing: -1px;  
    background: rgba(0, 0, 0, 0.7);
    padding: 8px; 
 }

 h3 span { 
    color: white; 
    font: bold 28px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgba(0, 0, 0, 0.7);
    padding: 8px; 
 }

 p span { 
    color: white; 
    font: bold 15px/15px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgba(0, 0, 0, 0.7);
    padding: 3px;
 }

.buttons { 
    color: white; 
    font: bold 15px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
 }

 .navbar { 
    position: absolute; 
    top: 15px; 
    width: 100%; 
    text-align: center;
 }

 .twitter {
    height: 50px;
    position: absolute; 
    top: 21px; 
    left: 600px; 
 }

 .facebook {
    height: 50px;
    position: absolute; 
    top: 23px; 
    left: 875px; 
 }

 .profile { 
    position: absolute; 
    top: 110px; 
    width: 100%; 
    display: block;
   
 }

 h4 span { 
    color: rgb(10, 10, 10); 
    font: bold 30px/5px cursive;
    letter-spacing: -1px;  
    padding: 5px; 
 }

 h5 span { 
    color: rgb(75, 72, 72); 
    font: bold 15px/1px cursive;
    letter-spacing: -1px;  
    padding: 1px; 
 }

h6 span { 
    color: rgb(8, 8, 8); 
    font: bold 15px/1px cursive;
    letter-spacing: -1px;  
    padding: 580px; 
}

ul { 
    color: rgb(12, 12, 12); 
    font: 15px/20px cursive;
    letter-spacing: -1px;  
    padding: 1px; 
}

h7 span {
    color: rgb(10, 10, 10); 
    font: bold 25px/10px cursive;
    letter-spacing: -1px;  
    padding:-15px; 
}

.img-mini {
    padding:-15px; 
}